<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Notes App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-2 mb-4">
        <h2>user: <span class="text-primary"><%= user.username %></span></h2>
        <h5>email: <span class="text-muted"><%= user.email%></span></h5>
        <hr>
    </div>
    <div class="container mb-4">
        <h2 class="mb-3">Subject: <span class="text-primary"><%= subject %></span></h2>
    </div>
    <div class="container">
        <a href="/main/<%=user.username%>/<%=subject%>" class="btn btn-secondary text-capitalize mb-2">go back</a>
    </div>
    <div class="container mt-3 mb-4">
        <h3>Title: <%= note.title %></h3>
        <pre class="fs-4" style=" white-space: pre-wrap; width: 100%; overflow-wrap: break-word;"><%= note.content %></pre>
    </div>
</body>
</html>